a:link, a:visited {
    color: #277455;
}


.module_content {
    margin: 10px 10px;
}

.tablesorter th {
background-color: #f8f8f8;
}

.tablesorter tr:hover {
background-color: #f6ffff; /* #f8faf2;*/
}

.tablesorter tr:hover th {
background-color: #f6ffff; /* #f8faf2;*/
}

aside#sidebar {
width: 20%;
min-height: 960px;
height: 960px;
}

section#secondary_bar .user {
width: 20%;
}

header#header h1.site_title {
width: 20%;
}


header#header h2.section_title {
width: 80%;
text-align: center;
}


section#main {
width: 80%;
/*background: lightgray;*/
min-height: 960px;
height: 960px;
margin-top: -6;
}

section#secondary_bar .breadcrumbs_container {
width: 80%;
}

/*
#sidebar a {
    color: #111;
    text-decoration: none;
    text-transform: none;
    display: block;
    width: 100%;
}
*/


#sidebar a {
    color: #333;
}

a.menu {
    text-decoration: none;
    text-transform: none;
    display: block;
    width: 80%;
    float: left;
}

a.hide-show {
    text-decoration: none;
    text-transform: none;
    display: block;
    width: 15%;
    float: right;
}

#sidebar a:hover {
    text-decoration: none;
}

#sidebar li a {
    color: #111;
    padding-left: 8px;
    width: 90%;
    display: block;
}

#sidebar li a:hover {
    color: #111;
}

h3 {
    text-transform: none!important;
}

h3:hover {
   background-color: #eee;
}


#sidebar h3 {
    margin: 10px 0 2px 6%;
}

th {
    text-align: left;
    color: #555;
}

td {
    text-align: left;
    color: #222;
}

.tablesorter th {
    border-left: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    padding: 4px 6px;
}
.tablesorter td {
    border-left: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    padding: 4px 6px;
}

table.tablesorter {
    border-top: 1px dotted #ccc;
    border-right: 1px dotted #ccc;
}

.toggle li:hover {
    background-color: #eee;
}

.toggle a:hover {
    text-decoration: none;
}

#sidebar footer {
    margin-top: 2px!important;
    padding-top: 20px!important;
    border-bottom: 2px darkgray solid;
}

.tablesorter thead tr {
    height: 22px;
}

.text-right {
    text-align: right;
}


label.form-control {
display: block;
float: left;
width: 200px;
height: 25px;
line-height: 25px;
text-shadow: 0 1px 0 #fff;
font-weight: bold;
padding-left: 10px;
margin: -5px 0 5px 0;
}

input.form-control {
font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
font-size: 12px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border: 1px solid #BBBBBB;
height: 20px;
color: #222;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
padding-left: 5px;
padding-right: 5px;
background-position: 10px 6px;
margin: 0;
display: block;
float: left;
width: 97%;
}

input.form-control:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

select.form-control {
font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
font-size: 12px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
width: 99%;
padding-left: 3px;
padding-right: 3px;
border: 1px solid #bbb;
height: 22px;
color: #222;
}


textarea.form-control {
font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
font-size: 12px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border: 1px solid #BBBBBB;
color: #222;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
padding-left: 5px;
padding-right: 5px;
background-position: 10px 6px;
display: block;
float: left;
width: 99%;
}

textarea.form-control:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}


input.form-filter {
font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
font-size: 12px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border: 1px solid #BBBBBB;
height: 20px;
color: #222;
margin: 0;
display: block;
width: 96%;
}

select.form-filter {
font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
font-size: 12px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border: 1px solid #BBBBBB;
height: 22px;
color: #222;
margin: 0;
display: block;
width: 96%;
}

.paginator1 {
float: left;
}

.paginator2 {
float: right;
}

/*
.ui-autocomplete {
z-index: 1000;
height: 260px;
width: 760px;
overflow-y: scroll; 
overflow-x: hidden; 
background-color: #ffffff;
border-color: #ccc;
border-color: rgba(0, 0, 0, 0.2);
border-style: solid;
border-width: 1px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}


.ui-widget {
font-family: Arial, Helvetica, Verdana, sans-serif!important;
font-size: 12px!important;
}

/*
.ui-menu .ui-menu-item a:hover
        {
            display: block;
            padding: 3px 3px 3px 3px;
            text-decoration: none;
            cursor: pointer;
            background-color: #f6ffff!important;
        }*/
/*
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
background-color: #f6ffff!important;
}
*/

ui-autocomplete-menu { position: absolute; cursor: default; }  

.ui-autocomplete-loading { background: white url('images/ui-anim.basic.16x16.gif') right center no-repeat; }
.ui-autocomplete-over { background-color: #0A246A; color: white; }

/* workarounds */
* html .ui-autocomplete-menu { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/

.ui-autocomplete {
z-index: 1000;
height: 260px;
width: 760px;
overflow-y: scroll; 
overflow-x: hidden; 
background-color: #ffffff;
border-color: #ccc;
border-color: rgba(0, 0, 0, 0.2);
border-style: solid;
border-width: 1px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.ui-menu {
        list-style:none;
        padding: 2px;
        margin: 0;
        display:block;
}

.ui-menu .ui-menu {
        margin-top: -3px;
}

.ui-menu .ui-menu-item {
margin:0;
padding: 0;
width: 100%;
font-family: Arial, Helvetica, Verdana, sans-serif!important;
font-size: 12px!important;
}

.ui-menu .ui-menu-item a {
text-decoration:none;
display:block;
padding:.2em .4em;
line-height:1.5;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
color: black!important;
background-color: #f6ffff!important;
font-weight: normal!important;
margin: -1px;
}

