/*
055046
B2E2E3
67C5C7
359193
*/


a:link, a:visited {
    color: #4a50a6;
}

#sidebar a {
    color: #4a50a6;
}

#sidebar li a {
    font-weight: bold;
}


#sidebar li a {
    color: #4a50a6;
}

#sidebar li a:hover {
    color: #4a50a6;
}

header#header  {
background: #006291;
/* background-image: linear-gradient(#50ABFB, #cae6fe);*/
}

.module header  {
background: #006291;
color: white;
/* background-image: linear-gradient(#cae6fe, #cae6fe);*/
height: 34px;
}

#main h3 {
color: white;
text-shadow: none;
}

header#header h1.site_title {
background: #006291;
/* background-image: linear-gradient(#50ABFB, #cae6fe);*/
}

header#header h2.section_title {
background: #006291;
/* background-image: linear-gradient(#50ABFB, #cae6fe); */
}

.color_red {
color: red;
}

.color_gray {
color: gray;
}

.color_gray td {
color: gray !important;
}

