<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{=PROGRAM_NAME}</title>

    <!-- Bootstrap Core CSS -->
    <link href="./skins/skin1/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- jQuery UI -->
    <link href="./skins/skin1/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    
    <!-- Custom CSS -->
    <link href="./skins/skin1/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="./skins/skin1/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <style>
        .duplicable-row {
            margin-bottom: 10px;
        }
        
        .uploadable-container {
            margin-bottom: 10px;
        }
        
        #progressbar
        {
            margin-top: 30px;
        }

        #progressbar .ui-progressbar-value, #progressbar .ui-progressbar-value
        {
            height: 106%;
            background-color: #86B200;
            color: white;
        }

        .ui-progressbar {
            position: relative;
        }
        .progress-label {
            position: absolute;
            width: 100%;
            text-align: center;
            top: 2px;
            font-weight: bold;
            text-shadow: 0px 0px 5px black;
            color: white
        }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{plink :Dashboard:Default:default}">{=PROGRAM_NAME}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <img src="./skins/skin1/flags/{$presenter->language->code}.png" /> {$presenter->language->name}<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                               <a href="{plink :Base:Language:change, $presenter->storeRequest(), 'cs', 'Česky'}"><img src="./skins/skin1/flags/cs.png" /> Česky</a>
                            </li>
                            <li>
                               <a href="{plink :Base:Language:change, $presenter->storeRequest(), 'sk', 'Slovensky'}"><img src="./skins/skin1/flags/sk.png" /> Slovensky</a>
                            </li>
                            <li>
                               <a href="{plink :Base:Language:change, $presenter->storeRequest(), 'uk', 'English'}"><img src="./skins/skin1/flags/uk.png" /> English</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="fa fa-user fa-lg fa-fw"></i>
                              <strong>{$presenter->getUser()->getIdentity()->subject_name}</strong> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                               <a href="{plink :Sign:Logout:default}"><i class="fa fa-power-off fa-lg fa-fw"></i> {_'Odhlásit'}</a>
                            </li>
                            <li>
                               <a href="#">{_'Automatické odhlášení'}: <strong>{$presenter->logoutDatetime}</strong></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
      {include #content}
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Collectora Software 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="./skins/skin1/js/jquery.js"></script>
    
    <!-- jQuery UI -->
    <script src="./skins/skin1/js/jquery-ui.min.js"></script>
    
    <!-- jQuery UI localization -->
    <script src="./skins/skin1/js/i18n/datepicker-{$presenter->language->code}.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="./skins/skin1/js/bootstrap.min.js"></script>
    
    <!-- holiday checker -->
    <script src="./skins/skin1/js/holiday-checker.js"></script>
    
    <!-- Nette Ajax -->
    <script src="./skins/skin1/js/nette.ajax.js"></script>
    
    <!-- Script to Activate the Carousel -->
    <script>
    $(function () {
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        });
        // Inicializace Nette Ajax
        $.nette.init();
    });
    </script>
    
    {* Možnost naincludovat další scripty přímo z šablon. *}
    {block scripts}{/block}
</body>

</html>
