{*
 WEBREMINDER2

 Last revison: 21.1.2015
 Copyright (c) 2014 collectora software s.r.o. (http://www.collectora.cz)
*}
 
 
<div class="col-md-12 col-sm-12">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h3 class="panel-title"><i class="fa fa-file-text-o fa-lg fa-fw"></i> {_'Logování akcí'}</h3>
      </div>
      <div class="panel-body">
         <table class="table table-hover table-condensed" style="margin-bottom: 0">
            <tr>
               <td>
                  {_'Datum'}
               </td>
               <td>
                  {_'Akce'}
               </td>
               <td>
               </td>
            </tr>
            {foreach $dataLog as $sentence => $record}
               <tr>
                  <th>
                     {$record->date_f}
                  </th>
                  <th>
                     {$record->action}
                  </th>
               </tr>
            {/foreach}
         </table>
      </div>
   </div>
</div>
 