{*
 WEBREMINDER2

 Last revison: 27.1.2015
 Copyright (c) 2014 collectora software s.r.o. (http://www.collectora.cz)
*}
 
 
<div class="col-md-12 col-sm-12">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h3 class="panel-title"><i class="fa fa-bolt fa-lg fa-fw"></i> {_'Akce'}</h3>
      </div>
      <div class="panel-body">
         <div class="col-lg-6 col-sm-6 col-xs-12">           
            <a href="{plink :Dashboard:Visit:callme}"> 
               <button type="button" class="btn btn-primary" style="margin-bottom: 4px; width: 100%;">{_'Zavolejte mi zpět'}</button>
            </a> 
         </div>
         <div class="col-lg-6 col-sm-6 col-xs-12">  
            <a href="{plink :Dashboard:Sms:paymentsymbols}"> 
               <button type="button" class="btn btn-primary" style="margin-bottom: 4px; width: 100%;">{_'Zaslat platební symboly'}</button>
            </a> 
         </div>
         <div class="col-lg-6 col-sm-6 col-xs-12">  
            <a href="{plink :Dashboard:Visit:personalvisit}"> 
               <button type="button" class="btn btn-primary" style="margin-bottom: 4px; width: 100%;">{_'Vyžádat osobní návštěvu'}</button>
            </a> 
         </div>
         <div class="col-lg-6 col-sm-6 col-xs-12">  
            <a href="{plink :Dashboard:Statement:statement}"> 
               <button type="button" class="btn btn-primary" style="margin-bottom: 4px; width: 100%;">{_'Přidat vyjádření k případu'}</button>
            </a> 
         </div>
         <div class="col-lg-6 col-sm-6 col-xs-12">  
            <a href="{plink :Dashboard:PaymentPlan:paymentplan}"> 
               <button type="button" class="btn btn-primary" style="margin-bottom: 4px; width: 100%;">{_'Vytvořit splátkový kalendář'}</button>
            </a> 
         </div>
      </div>
   </div>
</div>
 