{*
 WEBREMINDER2

 Last revison: 27.1.2015
 Copyright (c) 2014 collectora software s.r.o. (http://www.collectora.cz)
*}
 
 
<div class="col-md-12 col-sm-12">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h3 class="panel-title"><i class="fa fa-user fa-lg fa-fw"></i> {_'Subjekt'}</h3>
      </div>
      <div class="panel-body">
         <table class="table table-hover table-condensed" style="margin-bottom: 0">
            <tr>
               <td>
                  {_'Identifikační kód'}
               </td>
               <th class="text-right">
                  {$dataSubject->code}
               </th>
            </tr>
            <tr>
               <td>
                  {_'Jméno, obchodní název'}
               </td>
               <th class="text-right">
                  {$dataSubject->name}
               </th>
            </tr>
            <tr>
               <td>
                  {_'Typ'}
               </td>
               <th class="text-right">
                  {$dataSubject->type}
               </th>
            </tr>
            <tr>
               <td>
                  {_'Rodné číslo'}
               </td>
               <th class="text-right">
                  {$dataSubject->birth_number}
               </th>
            </tr>
            <tr>
               <td>
                  {_'Datum narození'}
               </td>
               <th class="text-right">
                  {$dataSubject->birth_date_f}
               </th>
            </tr>
            <tr>
               <td>
                  {_'IČ'}
               </td>
               <th class="text-right">
                  {$dataSubject->registration_number}
               </th>
            </tr>
         </table>
      </div>
   </div>
</div>
 