{*
 WEBREMINDER2

 Last revison: 27.1.2015
 Copyright (c) 2014 collectora software s.r.o. (http://www.collectora.cz)
*}
 
 
<div class="col-md-12 col-sm-12">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h3 class="panel-title"><i class="fa fa-comments-o fa-lg fa-fw"></i> {_'Poznámky'}</h3>
      </div>
      <div class="panel-body">
         {if count($dataDescription) > 0}
            <table class="table table-hover table-condensed" style="margin-bottom: 0">
               <tr>
                  <td>
                     {_'Vloženo'}
                  </td>
                  <td>
                     {_'Obsah'}
                  </td>
               </tr>
               {foreach $dataDescription as $sentence => $record}
                  <tr>
                     <th>
                        {$record->date_f}
                     </th>
                     <th>
                        {$record->content}
                     </th>
                  </tr>
               {/foreach}
            </table>
         {else}
            <table class="table table-hover table-condensed" style="margin-bottom: 0">
               <tr>
                  <td>
                     Nejsou vloženy
                  </td>
               </tr>
            </table>
         {/if}
      </div>
   </div>
</div>
 