{*
 WEBREMINDER2

 Last revison: 25.1.2015
 Copyright (c) 2014 collectora software s.r.o. (http://www.collectora.cz)
*}
 
 
<div class="col-md-12 col-sm-12">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h3 class="panel-title"><i class="fa fa-folder-open-o fa-lg fa-fw"></i> {_'Soubory'}</h3>
      </div>
      <div class="panel-body">
        {if count($dataFile) > 0}
            <table class="table table-hover table-condensed" style="margin-bottom: 0">
               <tr>
                  <td>
                     {_'Vloženo'}
                  </td>
                  <td>
                     {_'Název'}
                  </td>
                  <td>
                     {_'Ke stažení'}
                  </td>
               </tr>
               {foreach $dataFile as $sentence => $record}
                  <tr>
                     <th>
                        {$record->date_f}
                     </th>
                     <th>
                        {$record->name}
                     </th>
                     <th>
                        {$record->file}
                     </th>
                  </tr>
               {/foreach}
            </table>
        {else}
            <table class="table table-hover table-condensed" style="margin-bottom: 0">
               <tr>
                  <td>
                     Nejsou vloženy
                  </td>
               </tr>
            </table>
        {/if}
      </div>
   </div>
</div>
 