{*
 WEBREMINDER2

 Last revison: 27.1.2015
 Copyright (c) 2014 collectora software s.r.o. (http://www.collectora.cz)
*}
 
 
<div class="col-md-12 col-sm-12">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h3 class="panel-title"><i class="fa fa-credit-card fa-lg fa-fw"></i> {_'Finance'}</h3>
      </div>
      <div class="panel-body">
         <table class="table table-hover table-condensed" style="margin-bottom: 0">
            <tr>
               <td>
                  {_'Typ transakce'}
               </td>
               <td class="text-right">
                  {_'Částka'}
               </td>
            </tr>
            {foreach $dataTransaction as $sentence => $record}
               <tr>
                  <th>
                     {_$record->type}
                  </th>
                  <th class="text-right">
                     {$record->amount} {$record->currency_label}
                  </th>
               </tr>
            {/foreach}
         </table>
      </div>
   </div>
</div>
 