{*
 WEBREMINDER2

 Last revison: 23.1.2015
 Copyright (c) 2014 collectora software s.r.o. (http://www.collectora.cz)
*}
 
 
<div class="col-md-12 col-sm-12">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h3 class="panel-title"><i class="fa fa-bank fa-lg fa-fw"></i> {_'Platební symboly'}</h3>
      </div>
      <div class="panel-body">
         <table class="table table-hover table-condensed" style="margin-bottom: 0">
            <tr>
               <td>
                  {_'Účet'}
               </td>
               <th class="text-right">
                  {$dataPayment->bank_account}
               </th>
            </tr>
            <tr>
               <td>
                  {_'SWIFT'}
               </td>
               <th class="text-right">
                  {$dataPayment->swift}
               </th>
            </tr>
            <tr>
               <td>
                  {_'IBAN'}
               </td>
               <th class="text-right">
                  {$dataPayment->iban}
               </th>
            </tr>
            <tr>
               <td>
                  {_'KS'}
               </td>
               <th class="text-right">
                  {$dataPayment->ks}
               </th>
            </tr>
            <tr>
               <td>
                  {_'VS'}
               </td>
               <th class="text-right">
                  {$dataPayment->vs}
               </th>
            </tr>
            <tr>
               <td>
                  {_'SS'}
               </td>
               <th class="text-right">
                  {$dataPayment->ss}
               </th>
            </tr>
         </table>
      </div>
   </div>
</div>
 