{*
 WEBREMINDER2

 Last revison: 25.1.2015
 Copyright (c) 2014 collectora software s.r.o. (http://www.collectora.cz)
*}
 
 
<div class="col-md-12 col-sm-12">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h3 class="panel-title"><i class="fa fa-money fa-lg fa-fw"></i> {_'Dluh'}</h3>
      </div>
      <div class="panel-body">
         <table class="table table-hover table-condensed" style="margin-bottom: 0">
            <tr>
               <td>
                  {_'Jistina'}
               </td>
               <th class="text-right">
                  {$dataDebt->principal|number:2:',':' '} {$dataDebt->currency_label}
               </th>
            </tr>
            <tr>
               <td>
                  {_'Původní dlužná částka'}
               </td>
               <th class="text-right">
                  {$dataDebt->original_amount|number:2:',':' '} {$dataDebt->currency_label}
               </th>
            </tr>
            <tr>
               <td>
                  {_'Zaplaceno'}
               </td>
               <th class="text-right">
                  {$dataDebt->paid|number:2:',':' '} {$dataDebt->currency_label}
               </th>
            </tr>
            <tr>
               <td>
                  {_'Aktuální dlužná částka'}
               </td>
               <th class="text-right">
                  {$dataDebt->left_to_pay|number:2:',':' '} {$dataDebt->currency_label}
               </th>
            </tr>
            <tr>
               <td>
                  {_'Datum aktualizace'}
               </td>
               <th class="text-right">
                  {$dataDebt->date_f}
               </th>
            </tr>
         </table>
      </div>
   </div>
</div>
 