{*
 WEBREMINDER2

 Last revison: 27.1.2015
 Copyright (c) 2014 collectora software s.r.o. (http://www.collectora.cz)
*}
 
 
<div class="col-md-12 col-sm-12">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h3 class="panel-title"><i class="fa fa-list-alt fa-lg fa-fw"></i> {_'Případ'}</h3>
      </div>
      <div class="panel-body">
         <table class="table table-hover table-condensed" style="margin-bottom: 0">
            <tr>
               <td>
                  {_'Číslo případu'}
               </td>
               <th class="text-right">
                  {$dataCase->case_code}
               </th>
            </tr>
            <tr>
               <td>
                  {_'Název věřitele'}
               </td>
               <th class="text-right">
                  {$dataCase->client_name}
               </th>
            </tr>
            <tr>
               <td>
                  {_'Věřitelův identifikátor'}
               </td>
               <th class="text-right">
                  {$dataCase->client_case_code}
               </th>
            </tr>
            <tr>
               <td>
                  {_'Finanční status'}
               </td>
               <th class="text-right">
                  {$dataCase->status}
               </th>
            </tr>
            <tr>
               <td>
                  {_'Datum vložení'}
               </td>
               <th class="text-right">
                  {$dataCase->date_f}
               </th>
            </tr>
         </table>
      </div>
   </div>
</div>
 