{*
 WEBREMINDER2

 Last revison: 25.1.2015
 Copyright (c) 2014 collectora software s.r.o. (http://www.collectora.cz)
*}
 
 
<div class="col-md-12 col-sm-12">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h3 class="panel-title"><i class="fa fa-calendar fa-lg fa-fw"></i> {_'Splátkový kalendář'}</h3>
      </div>
      <div class="panel-body">
         {if isSet($dataSchedule->amount)}
         <table class="table table-hover table-condensed" style="margin-bottom: 0">
            <tr>
               <td>
                  {_'Výše dluhu v době vzniku'}
               </td>
               <th class="text-right">
                  {$dataSchedule->amount|number:2:',':' '} {$dataSchedule->currency_label}
               </th>
            </tr>
            <tr>
               <td>
                  {_'Počet splátek'}
               </td>
               <th class="text-right">
                  {$dataSchedule->count_installment|number:0:',':' '}
               </th>
            </tr>
            <tr>
               <td>
                  {_'Výše první splátky'}
               </td>
               <th class="text-right">
                  {$dataSchedule->first_installment|number:2:',':' '} {$dataSchedule->currency_label}
               </th>
            </tr>
            <tr>
               <td>
                  {_'Výše dalších splátek'}
               </td>
               <th class="text-right">
                  {$dataSchedule->next_installment|number:2:',':' '} {$dataSchedule->currency_label}
               </th>
            </tr>
            <tr>
               <td>
                  {_'Datum splatnosti příští splátky'}
               </td>
               <th class="text-right">
                  {$dataSchedule->next_installment_date_f}
               </th>
            </tr>
         </table>
         {else}
         <table class="table table-hover table-condensed" style="margin-bottom: 0">
            <tr>
               <td>
                  {_'Není vystaven'}
               </td>
            </tr>
         </table>
         {/if}
      </div>
   </div>
</div>
 