{*
 WEBREMINDER2

 Last revison: 27.1.2015
 Copyright (c) 2014 collectora software s.r.o. (http://www.collectora.cz)
*}
 
 
<div class="col-md-12 col-sm-12">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h3 class="panel-title"><i class="fa fa-building-o fa-lg fa-fw"></i> {_'Kontakt na inkasní společnost'}</h3>
      </div>
      <div class="panel-body">
         <table class="table table-hover table-condensed" style="margin-bottom: 0">
            <tr>
               <td>
                  {_'Název společnosti'}
               </td>
               <th class="text-right">
                  {$dataCompany->name}
               </th>
            </tr>
            <tr>
               <td>
                  {_'Adresa'}
               </td>
               <th class="text-right">
                  {$dataCompany->address}
               </th>
            </tr>
            <tr>
               <td>
                  {_'Telefon'}
               </td>
               <th class="text-right">
                  {$dataCompany->phone}
               </th>
            </tr>
            <tr>
               <td>
                  {_'Fax'}
               </td>
               <th class="text-right">
                  {$dataCompany->fax}
               </th>
            </tr>
            <tr>
               <td>
                  {_'E-mail'}
               </td>
               <th class="text-right">
                  {$dataCompany->email}
               </th>
            </tr>
            <tr>
               <td>
                  {_'Webové stránky'}
               </td>
               <th class="text-right">
                  {$dataCompany->web}
               </th>
            </tr>
            <tr>
               <td>
                  {_'IČ / DIČ'}
               </td>
               <th class="text-right">
                  {$dataCompany->registration_number} / {$dataCompany->vat_number}
               </th>
            </tr>
         </table>
      </div>
   </div>
</div>
 