{*
 WEBREMINDER2

 Last revison: 27.1.2015
 Copyright (c) 2014 collectora software s.r.o. (http://www.collectora.cz)
*}
 
 
@{block #breadcrumb}
<article class="breadcrumbs">
   <a class="current">{_'Úvod'}</a>
</article>
{/block}
 
 
@{block #content}
<div class="row">
   <div class="col-lg-12">
      <ul class="nav nav-tabs" style="margin-top:10px;margin-bottom:10px">
      {foreach $cases as $sentence => $record}
         {if $case == $record->case_id}
            <li class="active"><a href="#" data-toggle="tab"><h4><i class="fa fa-list-alt fa-lg fa-fw"></i> {$record->case_code}</h4></a></li>
               {else}
            <li><a href="{plink :Dashboard:Default:change, $record->case_id}"><h4><i class="fa fa-list-alt fa-lg fa-fw"></i> {$record->case_code}</h4></a></li>
          {/if}
      {/foreach}
      </ul>    
   </div>
</div>
    
<div class="row">
   <div class="col-lg-6">
      {include @panelcase.latte}
      {include @paneldebt.latte}
      {include @panelschedule.latte}
      {include @panelfile.latte}
      {include @panelcontact.latte}
      {include @panellog.latte}
   </div>
   <div class="col-lg-6">
      {include @panelsubject.latte}
      {include @panelpaymentsymbol.latte}
      {include @panelaction.latte}
      {include @paneltransaction.latte}
      {include @paneldescription.latte}
      {include @panelcompany.latte}
   </div>
</div>
{/block}
 