{*
 WEBREMINDER2

 Last revison: 27.1.2015
 @copyright	Copyright (c) 2014 collectora software s.r.o. <http://www.collectora.cz>
 *}

<div class="row">
   <div class="col-lg-3">
   </div>
   <div class="col-lg-6">
      &nbsp;
   </div>
   <div class="col-lg-3">
   </div>
</div>
