{*
 WEBREMINDER2

 Last revison: 27.1.2015
 @copyright	Copyright (c) 2014 collectora software s.r.o. <http://www.collectora.cz>
 *}

@{block #content}

{include @title.latte}
<div class="row">
   <div class="col-lg-3">
   </div>
   <div class="col-lg-6">
      <div class="panel panel-primary">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-sign-in fa-lg fa-fw"></i> {_'Krok 2 ze 4'}</h3>
         </div>
      <div class="panel-body">
         {$form->render('begin')}
            {if count($form->getErrors()) > 0}
               <div class="alert alert-dismissable alert-danger">                    
                  <ul>
                     {foreach $form->getErrors() as $error}
                         <li>{$error}</li>
                     {/foreach}
                  </ul>
               </div>
           {/if}
            <div class="control-group form-group">
               <div class="controls">
                  {if $type == 1}
                     <label>{_'IČ'}</label>
                     {$form['input']->getControl()->class('form-control')}
                     <span class="help-block">{_'Vložte vaše IČ'}.</span>                      
                        
                  {/if}
                  {if $type == 2}
                     <label>{_'Rodné číslo'}</label>
                     {$form['input']->getControl()->class('form-control')}
                     <span class="help-block">{_'Vložte vaše rodné číslo ve formátu XXXXXX/YYYY'}.</span>  
                     <span>{_'Pro DEMO vložte 601022/0012'}</span>  
                  {/if}
                  {if $type == 3}
                     <label>{_'Datum narození'}</label>
                     {$form['input']->getControl()->class('form-control')}
                     <span class="help-block">{_'Vložte vaše rodné datum narození ve formátu DD.MM.RRRR'}.</span>                      
                  {/if}
               </div>
            </div>
            <div class="control-group form-group">
               <div class="controls text-center">
                  {$form['previous']->getControl()->class('btn')}
                  {$form['next']->getControl()->class('btn btn-primary')}
               </div>
            </div>
         {$form->render('end')}
      </div>
   </div>
   <div class="col-lg-3">
   </div>
</div>
{include @footer.latte}

{/block}
