{*
 WEBREMINDER2

 Last revison: 27.1.2015
 @copyright	Copyright (c) 2014 collectora software s.r.o. <http://www.collectora.cz>
 *}

@{block #content}

{include @title.latte}
<div class="row">
   <div class="col-lg-3">
   </div>
   <div class="col-lg-6">
      <div class="panel panel-primary">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-sign-in fa-lg fa-fw"></i> {_'Krok 3 ze 4'}</h3>
         </div>
      <div class="panel-body">
         {$form->render('begin')}
            {if count($form->getErrors()) > 0}
               <div class="alert alert-dismissable alert-danger">                    
                  <ul>
                     {foreach $form->getErrors() as $error}
                         <li>{$error}</li>
                     {/foreach}
                  </ul>
               </div>
           {/if}
            <div class="control-group form-group">
               <div class="controls">
                  <label>{_'Stávající telefonní kontakty'}</label>
                  {$form['phone']->getControl()->class('form-control')}
                  <span class="help-block">{_'Vyberte stávající telefonní kontakt ze seznamu'}.</span>                      
               </div>
            </div>
            <div class="control-group form-group">
               <div class="controls">
                  <label>{_'Nový telefonní kontakt'}</label>
                  {$form['phone_new']->getControl()->class('form-control')}
                  <span class="help-block">{_'Případně vložte nový telefonní kontakt'}.</span>
                  <span class="help-block">{_'Na daný kontakt vám bude zaslána SMS s přístupovým kódem'}.</span>
                  <span>{_'Pro DEMO se SMS neposílá, stačí vybrat kontakt'}</span>  
               </div>
            </div>
            <div class="control-group form-group">
               <div class="controls text-center">
                  {$form['previous']->getControl()->class('btn')}
                  {$form['next']->getControl()->class('btn btn-primary')}
               </div>
            </div>
         {$form->render('end')}
      </div>
   </div>
   <div class="col-lg-3">
   </div>
</div>
{include @footer.latte}

{/block}
