{*
 WebReminder - AKLH

 Last revison: 3.5.2015
 Copyright (c) 2014 collectora software s.r.o. (http://www.collectora.cz)
*}
 
 
@{block #content}
<div class="row">
   <div class="col-lg-3">
   </div>
   <div class="col-lg-6">
      <div class="panel panel-primary">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-sign-in fa-lg fa-fw"></i> {_'Zavolejte mi zpět'}</h3>
         </div>
      <div class="panel-body">
         {$form->render('begin')}
            {if count($form->getErrors()) > 0}
               <div class="alert alert-dismissable alert-danger">                    
                  <ul>
                     {foreach $form->getErrors() as $error}
                         <li>{$error}</li>
                     {/foreach}
                  </ul>
               </div>
            {/if}
            {if isset($price)}
               <div class="alert alert-dismissable alert-warning">                    
                  <ul>
                         <li>{_'Tato akce je zpoplatněna'} {$price[0]} {$price[1]}</li>
                  </ul>
               </div>
            {/if}
            <div class="control-group form-group">
               <div class="controls">
                  <span class="help-block">{_'Vyberte stávající telefonní kontakt ze seznamu'}.</span>                      
                  <label>{_'Stávající telefonní kontakty'}</label>
                  {$form['phone']->getControl()->class('form-control')}
               </div>
            </div>
            <div class="control-group form-group">
               <div class="controls">
                  <span class="help-block">{_'Případně vložte nový telefonní kontakt'}.</span>
                  <label>{_'Nový telefonní kontakt ve tvaru +420 NNN NNN NNN'}</label>
                  {$form['phone_new']->getControl()->class('form-control')}
                  <span class="help-block">{_'Na daný kontakt vám budeme volat'}.</span>
               </div>
            </div>
            <div class="control-group form-group">
               <div class="controls">
                  <span class="help-block">{_'Vyberte datum a čas kdy můžete příjmout hovor'}.</span>
                  <div class="col-lg-6">
                    <label>{_'Datum hovoru'}</label>
                    {$form['date']->getControl()->class('form-control')->setPlaceholder('dd.mm.yyyy')}
                  </div>
                  <div class="col-lg-6">
                    <label>{_'Čas'}</label>
                    {$form['time']->getControl()->class('form-control')}
                  </div>
               </div>
            </div>
            <div class="control-group form-group">
               <div class="controls">
                  <span class="help-block">{_'Vložte poznámku'}.</span>                      
                  <label>{_'Poznámka'}</label>
                  {$form['description']->getControl()->class('form-control')}
               </div>
            </div>
            <div class="control-group form-group">
               <div class="controls text-center">
                  {$form['back']->getControl()->class('btn')}
                  {$form['send']->getControl()->class('btn btn-primary')}
               </div>
            </div>
         {$form->render('end')}
      </div>
   </div>
   <div class="col-lg-3">
   </div>
</div>
{/block}

@{block #scripts}
    <!-- datepick.js -->
    <script src="./skins/skin1/js/datepick.js"></script>

    <script>
    DatePick.prototype.criticalHour = {$presenter->paramConfig['callMeBack']['criticalHour']};
    DatePick.prototype.beforeCriticalHour = {$presenter->paramConfig['callMeBack']['beforeCriticalHour']};
    DatePick.prototype.afterCriticalHour = {$presenter->paramConfig['callMeBack']['afterCriticalHour']};
        
    new DatePick( $("[name='date']") );
    </script>
{/block}