{*
 WebReminder - AKLH

 Last revison: 23.6.2015
 Copyright (c) 2014 collectora software s.r.o. (http://www.collectora.cz)
*}
 
 
@{block #content}
<div class="row">
   <div class="col-lg-3">
   </div>
   <div class="col-lg-6">
      <div class="panel panel-primary">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-sign-in fa-lg fa-fw"></i> {_'Vyžádat osobní návštěvu'}</h3>
         </div>
      <div class="panel-body">
         {$form->render('begin')}
            {if count($form->getErrors()) > 0}
               <div class="alert alert-dismissable alert-danger">                    
                  <ul>
                     {foreach $form->getErrors() as $error}
                         <li>{$error}</li>
                     {/foreach}
                  </ul>
               </div>
            {/if}
            {if isset($price)}
               <div class="alert alert-dismissable alert-warning">                    
                  <ul>
                         <li>{_'Tato akce je zpoplatněna'} {$price[0]} {$price[1]}</li>
                  </ul>
               </div>
            {/if}
            <div class="control-group form-group">
               <div class="controls">
                  <span class="help-block">{_'Vyberte stávající adresu ze seznamu'}.</span>                      
                  <label>{_'Adresa'}</label>
                  {$form['address']->getControl()->class('form-control')}
               </div>
            </div>
            <div class="control-group form-group">
               <div class="controls">
                    <span class="help-block">{_'Vyberte datum kdy budete k zastižení'}.</span>
                    <label>{_'Datum osobní návštěvy'}</label>
                    {$form['date']->getControl()->class('form-control')->setPlaceholder('dd.mm.yyyy')}
               </div>
            </div>
            <div class="control-group form-group">
               <div class="controls">
                  <span class="help-block">{_'Vložte poznámku'}.</span>                      
                  <label>{_'Poznámka'}</label>
                  {$form['description']->getControl()->class('form-control')}
               </div>
            </div>
            <div class="control-group form-group">
               <div class="controls text-center">
                  {$form['back']->getControl()->class('btn')}
                  {$form['send']->getControl()->class('btn btn-primary')}
               </div>
            </div>
         {$form->render('end')}
      </div>
   </div>
   <div class="col-lg-3">
   </div>
</div>
{/block}

@{block #scripts}
    <!-- datepick.js -->
    <script src="./skins/skin1/js/datepick.js"></script>

    <script>
    DatePick.prototype.criticalHour = {$presenter->paramConfig['personalVisit']['criticalHour']};
    DatePick.prototype.beforeCriticalHour = {$presenter->paramConfig['personalVisit']['beforeCriticalHour']};
    DatePick.prototype.afterCriticalHour = {$presenter->paramConfig['personalVisit']['afterCriticalHour']};
    DatePick.prototype.dateFormat = 'dd.mm.yy';
    
    new DatePick( $("[name='date']") );
    </script>
{/block}
 