{*
 WebReminder - AKLH

 Last revison: 23.6.2015
 Copyright (c) 2014 collectora software s.r.o. (http://www.collectora.cz)
*}
 
 
@{block #content}
<div class="row">
   <div class="col-lg-3">
   </div>
   <div class="col-lg-6">
      <div class="panel panel-primary">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-sign-in fa-lg fa-fw"></i> {_'Přidat vyjádření k případu'}</h3>
         </div>
      <div class="panel-body">
         {$form->render('begin')}
            {if count($form->getErrors()) > 0}
               <div class="alert alert-dismissable alert-danger">                    
                  <ul>
                     {foreach $form->getErrors() as $error}
                         <li>{$error}</li>
                     {/foreach}
                  </ul>
               </div>
           {/if}
            <div class="control-group form-group">
               <div class="controls">
                  <span class="help-block">{_'Vyberte typ souboru'}.</span>                      
                  <label>{_'Typ souboru'}</label>
                  {$form['type']->getControl()->class('form-control')}
               </div>
            </div>
            <div class="control-group form-group">
               <div class="controls duplicable">
                  <span class="help-block">{_'Vložte soubor, který chcete nahrát'}.</span>                      
                  <label>{_'Soubor'}</label>
                  {$form['file']->getControl()->class('form-control duplicable-row duplicable-empty')}
               </div>
            </div>
            <div class="control-group form-group">
               <div class="controls">
                  <span class="help-block">{_'Vložte poznámku'}.</span>                      
                  <label>{_'Poznámka'}</label>
                  {$form['description']->getControl()->class('form-control')}
               </div>
            </div>
            <div class="control-group form-group">
               <div class="controls text-center">
                  {$form['back']->getControl()->class('btn')}
                  {$form['send']->getControl()->class('btn btn-primary')}
               </div>
            </div>
         {$form->render('end')}
      </div>
   </div>
   <div class="col-lg-3">
   </div>
</div>
{/block}

@{block #scripts}

    <!-- duplicable.js -->
    <script src="./skins/skin1/js/duplicable.js"></script>
    
    <!-- duplicable.js localization -->
    <script src="./skins/skin1/js/i18n/duplicable-{$presenter->language->code}.js"></script>
    
    <!-- resumable.js -->
    <script src="./skins/skin1/js/resumable.js"></script>
    
    <!-- upload.js -->
    <script src="./skins/skin1/js/uploadable.js"></script>
    
    <!-- upload.js localization -->
    <script src="./skins/skin1/js/i18n/uploadable-{$presenter->language->code}.js"></script>

    <script>
        var duplicable = new Duplicable( $('.duplicable'), {
            beforeAppendRow: function( $row, rowNumber ) {
                $row.attr({ id: $row.attr('id')+'-'+rowNumber, name: $row.attr('name')+'-'+rowNumber });
            },
            afterAppendRow: function( $row, rowNumber ) {
                new Uploadable($row, { task_log_id: 4444 });
            }
        } );
    </script>
{/block}