{*
 WebReminder - AKLH

 Last revison: 9.4.2015
 Copyright (c) 2014 collectora software s.r.o. (http://www.collectora.cz)
*}
 
 
@{block #content}
<div class="row">
   <div class="col-lg-3">
   </div>
   <div class="col-lg-6">
      <div class="panel panel-primary">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-sign-in fa-lg fa-fw"></i> {_'Zaslání platební symboly'}</h3>
         </div>
      <div class="panel-body">
         {$form->render('begin')}
            {if count($form->getErrors()) > 0}
               <div class="alert alert-dismissable alert-danger">                    
                  <ul>
                     {foreach $form->getErrors() as $error}
                         <li>{$error}</li>
                     {/foreach}
                  </ul>
               </div>
            {/if}
            {if isset($price)}
               <div class="alert alert-dismissable alert-warning">                    
                  <ul>
                         <li>{_'Tato akce je zpoplatněna'} {$price[0]} {$price[1]}</li>
                  </ul>
               </div>
            {/if}
           <div class="control-group form-group">
               <div class="controls">
                  <span class="help-block">{_'Vyberte způsob doručení platebních symbolů'}.</span>                      
                  <label>{_'Způsob doručení'}</label>
                  {$form['medium']->getControl()->class('form-control')}
               </div>
            </div>
            <div class="control-group form-group">
               <div class="controls">
                  <span class="help-block">{_'Vyberte stávající telefonní kontakt ze seznamu'}.</span>                      
                  <label>{_'Stávající telefonní kontakty'}</label>
                  {$form['phone']->getControl()->class('form-control')}
               </div>
            </div>
            <div class="control-group form-group">
               <div class="controls">
                  <span class="help-block">{_'Vyberte stávající e-mailový kontakt ze seznamu'}.</span>                      
                  <label>{_'Stávající e-mailové kontakty'}</label>
                  {$form['email']->getControl()->class('form-control')}
               </div>
            </div>
            <div class="control-group form-group">
               <div class="controls">
                  <span class="help-block">{_'Případně vložte nový telefonní kontakt'}.</span>
                  <label>{_'Nový telefonní kontakt ve tvaru +420 NNN NNN NNN'}</label>
                  {$form['phone_new']->getControl()->class('form-control')}
                  <span class="help-block">{_'Na daný kontakt vám bude zaslána SMS s platebními symboly'}.</span>
               </div>
            </div>
            <div class="control-group form-group">
               <div class="controls">
                  <span class="help-block">{_'Případně vložte nový e-mailový kontakt'}.</span>
                  <label>{_'Nový e-mailový kontakt'}</label>
                  {$form['email_new']->getControl()->class('form-control')}
                  <span class="help-block">{_'Na daný kontakt vám bude zaslán E-MAIL s platebními symboly'}.</span>
               </div>
            </div>
            <div class="control-group form-group">
               <div class="controls text-center">
                  {$form['back']->getControl()->class('btn')}
                  {$form['send']->getControl()->class('btn btn-primary')}
               </div>
            </div>
         {$form->render('end')}
      </div>
   </div>
   <div class="col-lg-3">
   </div>
</div>
{/block}

@{block #scripts}
    <script>
    function pepa()
    {
        switch($(this).val())
        {
            case 'sms':
                $('[name="phone"]').attr('disabled', false);
                $('[name="phone"]').closest('.control-group').show();
                $('[name="email"]').attr('disabled', true);
                $('[name="email"]').closest('.control-group').hide();
                
                $('[name="phone_new"]').attr('disabled', false);
                $('[name="phone_new"]').closest('.control-group').show();
                $('[name="email_new"]').attr('disabled', true);
                $('[name="email_new"]').closest('.control-group').hide();
                break;
            case 'email':
                $('[name="phone"]').attr('disabled', true);
                $('[name="phone"]').closest('.control-group').hide();
                $('[name="email"]').attr('disabled', false);
                $('[name="email"]').closest('.control-group').show();
                
                $('[name="phone_new"]').attr('disabled', true);
                $('[name="phone_new"]').closest('.control-group').hide();
                $('[name="email_new"]').attr('disabled', false);
                $('[name="email_new"]').closest('.control-group').show();
                break;
        }
    }
    
    $('[name="medium"]').on('change', pepa);
    $('[name="medium"]').trigger('change');
    </script>
{/block}
 