{*
 WebReminder - AKLH

 Last revison: 23.6.2015
 Copyright (c) 2014 collectora software s.r.o. (http://www.collectora.cz)
*}
 
 
@{block #content}
<div class="row">
   <div class="col-lg-3">
   </div>
   <div class="col-lg-6">
      <div class="panel panel-primary">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-calendar fa-lg fa-fw"></i> {_'Splátkový kalendář'}</h3>
         </div>
      <div class="panel-body">
         {$form->render('begin')}
            {if count($form->getErrors()) > 0}
               <div class="alert alert-dismissable alert-danger">                    
                  <ul>
                     {foreach $form->getErrors() as $error}
                         <li>{$error}</li>
                     {/foreach}
                  </ul>
               </div>
           {/if}
            {$form['calculation_type']->getControl()}
            {snippet totalPayments}
            <h3>{_'Zbývající dluh: '}{$dataDebt->left_to_pay|number:2:',':' '} {$dataDebt->currency_label}</h3>
            <div class="control-group form-group">
               <div class="controls">
                  <span class="help-block">{_'Vyberte celkový počet splátek ( minimálně %s1, maximálně %s2 )'|replace:'%s1':$minPaymentCount|replace:'%s2':$maxPaymentCount}.</span>                      
                  <label>{_'Počet splátek'}</label>
                  {$form['total_payments']->getControl()->class('form-control')}
               </div>
            </div>
            {/snippet}
            {snippet paymentValue}
            <div class="control-group form-group">
               <div class="controls">
                  <span class="help-block">{_'Výška jedné splátky ( minimálně %s )'|replace:'%s':$minPaymentValue}.</span>                      
                  <label>{_'Výška splátky'}</label>
                  {$form['payment_value']->getControl()->class('form-control duplicable-row duplicable-empty')}
               </div>
            </div>
            {/snippet}
            <div class="control-group form-group">
               <div class="controls">
                  <span class="help-block">{_'Vyberte datum první splátky'}.</span>                      
                  <label>{_'Datum první splátky'}</label>
                  {$form['first_payment_date']->getControl()->class('form-control')}
               </div>
            </div>
            {snippet info}
            <div class="control-group form-group">
               <div class="controls">
                  <label>{_'Výše poslední splátky'}:</label>
                  {$lastPaymentValue}
               </div>
            </div>
            <div class="control-group form-group">
               <div class="controls">
                  <label>{_'Datum poslední splátky'}:</label>
                  {$lastPaymentDate}
               </div>
            </div>
            {/snippet}
            <div class="control-group form-group">
               <div class="controls">
                  <span class="help-block">{_'Vyplňte den v měsíci ve kterém bude končit splatnost'}.</span>                      
                  <label>{_'Den splatnosti'}</label>
                  {$form['maturity_day']->getControl()->class('form-control')}
               </div>
            </div>
            <div class="control-group form-group">
               <div class="controls text-center">
                  {$form['back']->getControl()->class('btn')}
                  {$form['send']->getControl()->class('btn btn-primary')}
               </div>
            </div>
         {$form->render('end')}
      </div>
   </div>
   <div class="col-lg-3">
   </div>
</div>
{/block}

@{block #scripts}
    <!-- datepick.js -->
    <script src="./skins/skin1/js/datepick.js"></script>

    <script>
    DatePick.prototype.criticalHour = {$presenter->paramConfig['callMeBack']['criticalHour']};
    DatePick.prototype.beforeCriticalHour = 0;
    DatePick.prototype.afterCriticalHour = 0;
        
    new DatePick( $("[name='first_payment_date']") );
    
    function calculatePaymentPlan() {
        var data = {
            'calculation_type': $('input[name="calculation_type"]').val(),
            'total_payments': $('input[name="total_payments"]').val(),
            'payment_value': $('input[name="payment_value"]').val(),
            'first_payment_date': $('input[name="first_payment_date"]').val(),
            'maturity_day': $('input[name="maturity_day"]').val()
        };
        
        $.nette.ajax({
            url: {plink calculatePaymentPlan!},
            data: data
        });
    }
    $(document).on('change', 'input[name="total_payments"]', function() {
        $('input[name="calculation_type"]').val('total_payments'); 
        calculatePaymentPlan(); 
    });
    $(document).on('keyup', 'input[name="payment_value"]', function() {
        $('input[name="calculation_type"]').val('payment_value'); 
        calculatePaymentPlan(); 
    });
    
    $('input[name="first_payment_date"]').on('change', calculatePaymentPlan);
    $('input[name="maturity_day"]').on('change', calculatePaymentPlan);
    
    </script>
{/block}